<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <lunarpaymentmethod>
                <debug>1</debug>
                <active>0</active>
                <model>LunarPaymentFacade</model>
                <payment_action>authorize</payment_action>
                <order_status>pending_payment</order_status>
                <title>Lunar</title>
                <currency>USD</currency>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_refund>1</can_refund>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <sort_order>1</sort_order>
                <acceptedcards>visa,visaelectron,mastercard,maestro</acceptedcards>
                <description><![CDATA[Secure payment with credit card via &copy; <a href="https://lunar.app" target="_blank">Lunar</a>]]></description>
            </lunarpaymentmethod>

            <lunarmobilepay>
                <debug>1</debug>
                <active>0</active>
                <model>LunarMobilePayFacade</model>
                <payment_action>authorize</payment_action>
                <order_status>pending_payment</order_status>
                <title>Mobile Pay</title>
                <currency>USD</currency>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_refund>1</can_refund>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <sort_order>2</sort_order>
                <description><![CDATA[Secure payment with MobilePay via &copy; <a href="https://lunar.app" target="_blank">Lunar</a>]]></description>
            </lunarmobilepay>

            <lunarpaymenthosted>
                <debug>1</debug>
                <active>0</active>
                <model>LunarPaymentHostedFacade</model>
                <!-- <payment_action>authorize</payment_action> -->
                <!-- <order_status>pending_payment</order_status> -->
                <order_status>pending</order_status>
                <title>Lunar (Beta)</title>
                <currency>USD</currency>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_refund>1</can_refund>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <sort_order>3</sort_order>
                <acceptedcards>visa,visaelectron,mastercard,maestro</acceptedcards>
                <description><![CDATA[Secure payment with credit card via &copy; <a href="https://lunar.app" target="_blank">Lunar</a>]]></description>
            </lunarpaymenthosted>

            <lunarmobilepayhosted>
                <debug>1</debug>
                <active>0</active>
                <model>LunarMobilePayHostedFacade</model>
                <!-- <payment_action>authorize</payment_action> -->
                <!-- <order_status>pending_payment</order_status> -->
                <order_status>pending</order_status>
                <title>Mobile Pay (Beta)</title>
                <currency>USD</currency>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_refund>1</can_refund>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <sort_order>4</sort_order>
                <description><![CDATA[Secure payment with MobilePay via &copy; <a href="https://lunar.app" target="_blank">Lunar</a>]]></description>
            </lunarmobilepayhosted>
            
        </payment>

        <csp>
            <mode>
                <storefront>
                    <report_only>1</report_only>
                </storefront>
                <admin>
                    <report_only>1</report_only>
                </admin>
            </mode>
        </csp>
        
    </default>
</config>
